  <p>Olá, {{ name }}</p>

  <br>

  <p>Link para recupera senha: <a href="{{ link }}{{ code }}">link</a></p>

  <br>

  <button class="button is-primary">Teste</button>
  <p>
    Suíno Master.
  </p>

  <br />

  <small> 
    Equipe, <br />
    Porcos
  </small>
