{% extends "layouts/base_site.twig" %}

{% block title %}Hcode - Forgot{% endblock %}

{% block content_site %}

<div class="product-big-title-area">
    <div class="container">
        <div class="columns">
            <div class="column is-full">
                <div class="product-bit-title text-center">
                    <h2>Esqueceu a Senha?</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="columns">
            <div class="column is-full">
                <form id="login-form-wrap" class="login" method="post" action="{{ path_for('site.forgot') }}">
                    <h2>Recupere sua senha</h2>
                    <div class="field">
                        <label class="label" for="email">E-mail <span class="required">*</span></label>
                        <div class="control">
                            <input type="email" id="email" name="email" class="input" style="width:350px">
                        </div>
                    </div>
                    <div class="is-clearfix"></div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-success" type="submit">Enviar</button>
                        </div>
                    </div>

                    <div class="is-clearfix"></div>
                </form>                    
            </div>

        </div>
        {% include 'components/notifications.twig' %}
    </div>
</div>

{% endblock %}